<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- Modify Menu -->

        <!-- Rename Menu Root-->
        <record id="school.menu_ems" model="ir.ui.menu">
            <field name="name">School</field>
        </record>

        <!-- Rename Menu Category-->
        <record id="school.admission_register" model="ir.ui.menu">
            <field name="name">Admission</field>
        </record>

        <!-- Rename Sub Menu -->
        <record id="school.menu_admission_form" model="ir.ui.menu">
            <field name="name">Student Register</field>
        </record>
        <record id="school.menu_student_alumni" model="ir.ui.menu">
            <field name="name">Graduate/Terminate</field>
        </record>
        <record id="school.menu_school_standard_form" model="ir.ui.menu">
            <field name="name">School Class</field>
        </record>
        <record id="school.menu_sub_school_standard_form" model="ir.ui.menu">
            <field name="name">Classes</field>
        </record>
        <record id="school.menu_standard_standard_form" model="ir.ui.menu">
            <field name="name">Levels</field>
        </record>
        <record id="school.menu_standard_division_form" model="ir.ui.menu">
            <field name="name">Divisions</field>
        </record>
        <record id="school.menu_class_room" model="ir.ui.menu">
            <field name="name">Room</field>
        </record>
        <record id="school_fees.menu_student_payslip" model="ir.ui.menu">
            <field name="name">Fees Students</field>
        </record>
        <record id="school_fees.menu_student_fees_register" model="ir.ui.menu">
            <field name="name">Fees Classes</field>
        </record>

        <!-- Hidden Sub Menu -->
        <record id="make_invisible" model="res.groups">
            <field name="name">Invisible</field>
        </record>
        <record model="ir.ui.menu" id="school.menu_standard_medium_form">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="school.menu_cast">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="school.menu_sub_doc_type_sub_form">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="school.mother_tongue_menu">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="school.menu_assign_rollno_form">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="school.menu_move_standards_form">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>

        <!-- Modify Action Window -->
        <record id="school.action_student_student_form_2" model="ir.actions.act_window">
            <field name="name">Student Register</field>
        </record>
        <record id="school.action_standard_standard_form" model="ir.actions.act_window">
            <field name="name">Levels</field>
        </record>
        <record id="school_fees.action_student_payslip_form" model="ir.actions.act_window">
            <field name="name">Fees Students</field>
        </record>
        <record id="school_fees.action_student_fees_register_form" model="ir.actions.act_window">
            <field name="name">Fees Classes</field>
        </record>

        <!-- Journal Accounting Default That Ter Overridiing -->
        <menuitem
            id="account.menu_action_account_journal_form"
            name="Journal"
            action="account.action_account_journal_form"
            parent="account.account_account_menu"
            groups="account.group_account_manager"
            sequence="9"/>

        <!-- Set sequence for menu fees structure -->
        <record id="school_fees.menu_student_fees_structure_sub_form" model="ir.ui.menu">
            <field name="sequence">3</field>
        </record>
        
        <!-- Journal Menu on School Module -->
        <menuitem
            id="account.menu_action_account_journal_form"
            name="Journal"
            action="account.action_account_journal_form"
            parent="school_fees.menu_student_fees_structure_form"
            sequence="4"/>
    </data>
</odoo>