<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- Modify Menu -->

        <!-- Rename menu root-->
        <record id="school.menu_ems" model="ir.ui.menu">
            <field name="name">School</field>
        </record>
        <!-- Rename menu category-->
        <record id="school.admission_register" model="ir.ui.menu">
            <field name="name">Admission</field>
        </record>
        <!-- Rename menu action or submenu-->
        <record id="school.menu_admission_form" model="ir.ui.menu">
            <field name="name">Student Register</field>
        </record>
        <record id="school.menu_student_alumni" model="ir.ui.menu">
            <field name="name">Graduate/Terminate</field>
        </record>

        <!-- Hidden Sub Menu -->
        <record id="make_invisible" model="res.groups">
            <field name="name">Invisible</field>
        </record>
        <record model="ir.ui.menu" id="school.menu_standard_medium_form">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
    </data>
</odoo>