<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <template id="custom_sign_in" customize_show="True" inherit_id="website.layout" name="Custom Sign In">
            <xpath expr="//ul[@id='top_menu']" position="replace">
                <ul class="nav navbar-nav ml-auto text-right" id="top_menu">
                    <!-- <li class="nav-item" t-if="website.user_id != user_id"> -->
                    <!-- <li class="nav-item" t-if="request.env.user.has_group('school.group_school_student')"> -->
                    <!-- <li class="nav-item" t-if="request.env.user.has_group('base.group_user')"> -->
                    <li class="nav-item" t-if="request.env.user.has_group('school.group_school_parent')">
                        <a class="nav-link" role="menuitem" t-attf-href="/ppdb/registration">
                        <span>Registrasi</span>
                        </a>
                    </li>
                    <li class="nav-item divider"></li>
                    <li class="nav-item dropdown" t-if="website.user_id != user_id">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <b>
                            <span t-esc="user_id.name"/>
                        </b>
                        </a>
                        <div class="dropdown-menu js_usermenu" role="menu">
                        <a href="/my/home" role="menuitem" class="dropdown-item">My Account</a>
                        <a id="o_logout" class="dropdown-item" role="menuitem" href="/web/session/logout?redirect=/">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item" t-if="website.user_id == user_id">
                        <a class="nav-link" href="/web/login">
                        <b>Sign in</b>
                        </a>
                    </li>
                </ul>
            </xpath>
        </template>
    </data>
</odoo>